fastapi
uvicorn[standard]
scikit-learn
pandas
numpy
joblib
pydantic
python-dotenv
sqlalchemy
psycopg[binary]
python-multipart
passlib
python-jose[cryptography]
sentence-transformers
fastembed
google-genai
boto3
pytest